<table border="1">
<tr>
<td>ID</td>
<td>Name</td>
<td>Email</td>
<tr>

<tr>
{% for author in authors %}
<td>{{author.id}}</td>
<td>{{author.username}}</td>
<td>{{author.email}}</td>
<td><a href="{{ path('showauth', {'name': author.username}) }}">Show details</a></td>
<td><a href="{{ path('deleteAuth', {'id': author.id}) }}">Show details</a></td>

</tr>
{% else %}
<tr><td colspan="4">No Authors found</td></tr>
{% endfor %}

</table>