<table border="1">
<tr>
<td>ID</td>
<td>Name</td>
<td>Pic</td>
<td>Email</td>
<td>Number of books</td>
<tr>

<tr>
{% for author in authors%}
<td>{{author.id}}</td>
<td>{{author.username}}</td>
<td> <img src="{{asset(author.picture)}}" width="25%" /></td>
<td>{{author.email}}</td>
<td>{{author.nb_books}}</td>
<td><a href="{{path('showauth',{'name': author.username})}}">Show details</td>

<tr>
{% else %}
No Authors found
{% endfor %}

</table>